body {
  margin: 0;
  padding: 0;
  background: black;
  background: #e4e4e4;
  background: #f1f3f4;
  background: #f4f5f7;
}

.fonts1 {
	font-family: "SF UI Text",-apple-system, BlinkMacSystemFont, sans-serif;
}

.fonts2 {
	font-family: Cerebri Sans,"SF UI Text",-apple-system, BlinkMacSystemFont, sans-serif;
}

input {
	font-family: Cerebri Sans,"SF UI Text",-apple-system, BlinkMacSystemFont, sans-serif;
	font-family: "SF UI Text",-apple-system, BlinkMacSystemFont, sans-serif;
}



* {
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

#subItemBlock {
	overflow-x: auto;
}


#recBar {
	display: flex;
	justify-content: flex-start;

	width: 100%;
	height: 160px;
	margin-bottom: 50px;
	position: relative;
	padding: 10px 0px;
	
	/*border-bottom: 1px solid #e2e2e2;*/
}

.recBarBox {
	position: absolute;
	width: 100%;
}

.recBarGradient {
	/*background: linear-gradient(90deg, transparent, #333333);*/
	background: linear-gradient(90deg, rgba(255,255,255,0), #f4f5f7);
	height: 100%;
	width: 20px;
	position: absolute;
	right: 0;
	float: right;
	z-index: 10;
}

.recItemHolder {
	padding-right: 30px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.recItem {
	display: inline-flex;
	width: 270px;
	height: 140px;
	background: #f1f3f4;
	background: rgba(0,0,0,0.025);
	background: white;
	border: 1px solid #e2e2e2;
	/*border: 1px solid white;*/
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	white-space: normal;
	cursor: pointer;
	position: relative;

	width: 280px;
	padding-right: 20px;
}

.recItem:hover {
	background: white;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.05);
	border: 1px solid #d2d2d2;
	/*box-shadow: inset 5px 0px 0px #d33f3f, 0px 3px 10px rgba(0,0,0,0.05);*/
}

.also-bought-header {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

.recItem .itemCategory {
	width: 100%;
	text-align: right;
	right: -5px;
}

.recItem:hover .itemCategory {
	color: #d33f3f;
}






.searchTopBoxInput {
	display: none;
}

.search-query {
	color: #d33f3f;
}



.topAd {
	display: flex;
	text-align: center;
	width: 90%;
	left: 5%;
	right: 5%;

	height: 120px;
	top: -65px;
	position: absolute;
	z-index: 99;
	margin: 0 auto;
	/*background: white;*/
	background-image: url('images/uAudioAd-s.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	/*border: 1px solid #b2b2b2;*/
}


@keyframes fixSearchTop {
    0% { transform: translateY(150px); }
    100% { transform: translateY(0px); }
}






@keyframes refresh {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes refreshDown {
    0% { opacity: 1; transform: translateY(0px);}
    33% { opacity: 0; transform: translateY(10px);}
    66% { opacity: 0; transform: translateY(-10px);}
    100% { opacity: 1; transform: translateY(0px);}
}

@keyframes refreshUp {
    0% { opacity: 1; transform: translateY(0px);}
    33% { opacity: 0; transform: translateY(-10px);}
    66% { opacity: 0; transform: translateY(10px);}
    100% { opacity: 1; transform: translateY(0px);}
}

.refresh {
	animation: refresh .5s ease-in-out;
}





@keyframes pageHeadIn {
    0% { transform: translateY(-30px); opacity: 0; }
    100% { transform: translateY(0px); opacity: 1; }
}

@keyframes pageHeadOut {
    0% { transform: translateY(0px); opacity: 1; }
    100% { transform: translateY(-30px); opacity: 0; }
}

.pageHeadIn {
	animation: pageHeadIn .5s ease-in-out;
}

.pageHeadOut {
	animation: pageHeadOut .5s ease-in-out;
}


@keyframes bigSearchIn {
    0% { transform: translateY(-100%); opacity: 0; }
    70% { transform: translateY(10px); }
    100% { transform: translateY(0px); opacity: 1; }
}

@keyframes bigSearchOut {
    0% { transform: translateY(0px); opacity: 1; }
    30% { transform: translateY(10px); }
    100% { transform: translateY(-100%); opacity: 0; }  
}

.bigSearchIn {
	animation: bigSearchIn .5s ease-in-out;
	
}

.bigSearchOut {
	animation: bigSearchOut .5s ease-in-out;
	
}





#mainheader {
	width: 100%;
	height: 72px;
	position: fixed;
	z-index: 999999;
}


#header-upper {
	width: 100%;
	top: 0;
	height: 25px;
	background: #3e3e3e;
	background: black;
	padding: 0px 20px;
}

#header-upper:hover {
	height: 100px;
}


#header-upper:hover:root {
	box-shadow: 0px 40px 40px rgba(0,0,0,0.2);
}

#header-upper-right {
	float: right;
	max-width: 500px;
	overflow-x: scroll;
	overflow-y: hidden;
	max-height: 25px;
	height: 25px;
    display: flex;
	/*display: flex;
	justify-content: flex-end;*/
}

#header-upper-right a {
	overflow-x: scroll;
	overflow-y: hidden;
	display: inline-flex;
	padding: 0px 20px;
	/*height: 100%;*/
	color: #d2d2d2;
	color: #a5b1b7;
	border-left: 2px solid #262626;
	font-size: 13px;

	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: .1em;
	font-size: 11px;
	align-self: center;
	white-space: nowrap;
}

#header-upper-right a:hover {
	color: white;
}



.fader {
	background: rgba(255,255,255,0.8);
	background: rgba(0,0,0,0.2);
	
	display: none;
	position: fixed;
	z-index: 990;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.faderOn {
	animation: faderOn .5s ease-in-out;
}

@keyframes faderOn {
	0% { opacity: 0;}
	100% { opacity: 1;}
}

.fader.faderOn {
	display: block;
	animation: faderOn .2s ease-in-out;
}


#big-search {
	width: 100%;
	height: 90px;
	background: linear-gradient(0deg, #3e3e3e, #333333);
	background: black;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.2);
	top: 72px;
	top: -100%;
	position: fixed;
	z-index: 999;
}

#big-search.bigSearchIn {
	width: 100%;
	height: 90px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.2);
	top: 62px;
	position: fixed;
	animation: bigSearchIn .5s ease-in-out;
	z-index: 999;
	padding-top: 10px;
}




#big-search input {
	width: 100%;
	height: 90px;
	top: 0px;
	padding: 10px 40px;
	font-size: 30px;
	border: none;
	text-align: center;
	background: linear-gradient(0deg, #3e3e3e, #333333);
	background: linear-gradient(0deg, #333333, black);
	background: black;
	color: white;
	padding-top: 10px;
}

#big-search input:focus {
	outline: none;
}

/*#big-search textarea::before {
	content: url('images/searchWhite.svg');
	height: 30px;
	width: 30px;
	margin-right: 20px;
}*/

#big-search input::before {
	content: url('images/searchWhite.svg');
	height: 40px;
	width: 40px;
	left: -50px;
	position: relative;
}



#header-upper:hover .fader {
	display: block;
}

#header-nav {
	width: 100%;
	height: 47px;
	background: white;
	border-bottom: 1px solid #e2e2e2;
	display: flex;
	position: relative;
	overflow: hidden;
}


#nav-title {
	left: 0;
	display: flex;
	min-width: 185px;
	cursor: pointer;
}

#nav-title h4 {
	text-transform: uppercase;
	letter-spacing: .1em;
	display: flex;
	align-self: center;
	left: 20px;
	position: relative;
	font-size: 15px;
}


#nav-right {
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;
	float: right;
	width: 100%;
	height: 100%;
}



#nav-links {
	height: 47px;
	min-width: 320px;
	max-width: 390px;
	min-width: 280px;
    max-width: 370px;
	display: inline-flex;
	order: 1;
	justify-content: space-between;
	/*justify-content: flex-start;*/
	width: 40%;
	margin-left: 4%;
	border-left: 1px solid #f2f2f2;
	padding-left: 20px;
	height: 100%;
}

.navLink {
	display: flex;
	text-align: center;
	align-self: center;
	padding: 15px 5px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: black;
	font-weight: 500;
	height: 100%;
}

.curLink {
	box-shadow: inset 0px -2px 0px black;
	/*box-shadow: inset 0px -3px 0px #f4f5f7;
	box-shadow: inset 0px -3px 0px #a5b1b7;*/
}

.navLink:hover {
	box-shadow: inset 0px -3px 0px black;
}




#nav-search, #nav-cart {
	
	display: inline-flex;
	height: 47px;
}

#nav-search2 {
	display: none;
}



#nav-search {
    min-width: 120px;
    width: 140px;
    right: 190px;
    margin: 0;
    height: 100%;
    /* float: right; */
    top: 0;
    position: absolute;
    order: 2;
    border-left: 1px solid #f2f2f2;

    display: inline-flex;
    align-items: center;
	float: right;
	order: 3;
	justify-content: center;

	cursor: pointer;
}

#nav-search:hover {
	/*background: #f2f2f2;*/
	box-shadow: inset 0px -3px 0px black;
}


#nav-search-icon img {
	display: inline-flex;
	flex: 1;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	margin-top: 3px;
}

#nav-search h4 {
	/*flex: 3;*/
	display: inline-flex;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 13px;
	white-space: nowrap;
	min-width: 70px;
	padding-bottom: 1px;
	font-weight: 500;
}

/*#nav-search:hover {
	max-width: 500px;
	width: 500px;
}*/

#nav-search form {
	width: 100%;
	height: 47px;
}

#nav-search input {
	background: white;
	height: 47px;
	border: none;
	width: 100%;
	font-size: 15px;
	padding: 7px 20px 10px 10px;
	
}

#nav-search input:focus {
	/*width: 500px;*/
	/*padding-right: 200px;*/
}

#nav-search input textarea {
	color: black;
}


#nav-search input textarea::before {
	content: url('images/search.svg');
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

#nav-search input[type=text]:focus {
	background: #f2f2f2;
	outline: none;
}

#nav-cart {
	border: 1px solid #f2f2f2;
	max-width: 190px;
	min-width: 180px;
	width: 25%;
	display: inline-flex;
	padding: 10px 10px;
	align-items: center;
	float: right;
	order: 3;
	justify-content: center;

	right: 0;
    position: absolute;
    cursor: pointer;
}

#nav-cart:hover {
	box-shadow: inset 0px -3px 0px black;
}


#nav-cart-icon img {
	display: inline-flex;
	flex: 1;
	height: 20px;
	width: 20px;
	margin-right: 2px;
	margin-top: 3px;
}

#nav-cart-count {
    /*flex: 1;*/
    display: block;
    max-height: 18px;
    /*max-width: 18px;*/
    min-width: 16px;
    margin-right: 12px;
    border-radius: 500px;
    background: black;
    color: white;
    text-align: center;
    padding: 1px 2px;
    align-items: center;
    font-size: 12px;
    /*background: #e8e8e8;
    color: black;*/
    font-weight: 700;
}

#nav-cart h4 {
	/*flex: 3;*/
	display: inline-flex;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 13px;
	white-space: nowrap;
	min-width: 70px;
	padding-bottom: 1px;
	font-weight: 500;
}





#mainBody {
	top: 150px;
	position: relative;
	background: #e4e4e4;
	background: #f1f3f4;
	background: #f4f5f7;
	height: 100vh;
	height: calc(100vh - 72px);
	/*box-shadow: 0px -40px 40px rgba(0,0,0,0.2);*/
}


#itemPage {
	width: calc(100vw - 360px);
	height: calc(100vh - 72px);
	right: 0;
	top: 72px;
	position: fixed;
	/*top: 100px;*/
	overflow-y: scroll;

	/*height: 100vh;*/
	position: absolute;
	float: right;
}


#current-item-pane {
	z-index: 99;
}

.itemCover {
	width: 100%;
	height: 35%;
	background: linear-gradient(180deg, black, rgba(255,255,255,0));
	background: black;
	background: rgb(215, 32, 44);
	position: absolute;
	opacity: .05;
	opacity: 1;
	z-index: 0;
	/*mix-blend-mode: darken;*/
	display: none;
}



#searchItemBlock {
  border-right: 1px solid #e2e2e2;
  height: 100vh;
  height: calc(100vh - 72px);
  top: 72px;
  position: absolute;
  overflow-y:scroll;
  background: #3e3e3e;
  background: #f4f5f7;
  overflow-x:hidden;
}

.searchBoxTop {
	height: 150px;
	min-height: 80px;
	max-height: 150px;
	padding: 30px 20px;
	padding: 30px 20px 30px 20px;
	top: 72px;
	left: 0;
	position: absolute;
	/*position: relative;*/
	background: white;
	/*border: 1px solid #f2f2f2;*/
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	z-index: 3;
	overflow: hidden;
	/*box-shadow: 0px 3px 6px rgba(0,0,0,0.02)*/
}


.searchBoxTop {
    height: 150px;
    min-height: 80px;
    max-height: 150px;
    padding: 30px 20px;
    left: 0;
    background: white;
    border-bottom: 1px solid #e7e7e7;
    z-index: 3;
    overflow: hidden;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.02);
}



.searchBoxTop h3 {
	font-weight: 400;
	font-size: 16px;
}

.searchBoxTop form {
	margin-top: 15px;
	width: 100%;

}



.searchBoxTop input {
	background: #f2f2f2;

	border-radius: 4px;
	border: none;
	/*width: 100%;*/
	max-height: 40px;
	font-size: 16px;
	padding: 10px;
}

.searchBoxTop label {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-left: 5px;
    margin-right: 5px;
}

.searchOps {
	width: 100%;
	/*top: 45px;*/
	margin: 10px 0px;
	padding: 10px 0px 5px 0px;
	border-top: 1px solid #f2f2f2;
	position: absolute;
	/*position: relative;*/
	bottom: 0;
	background: white;
}

.searchOps {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px 0px 15px 0px;
    border-top: 1px solid #f2f2f2;
    position: absolute;
    bottom: 0;
    background: white;
}




.searchBoxTop input[type=text]:focus {
	background: #3e3e3e;
	color: white;
	outline: none;
}


#searchItemList {
	top: 150px;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100vh - 220px);
	/*background: white;*/
	padding-bottom: 150px;
	z-index: 2;
}

#search-item-count-box {
	height: 40px;
    width: 100%;
    background: #f4f5f7;
    background: white;
    text-align: center;
    display: flex;
    padding-left: 24px;
    border-bottom: 1px solid #e7e7e7;
}

#search-item-count {
	display: flex;
	align-self: center;
	text-align: center;
	letter-spacing: .2em;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
	/*margin: 0 auto;*/
	color: #a5b1b7;
	color: black;
}

#searchItemListFooter {
	width: 100%;
	height: 150px;
	background: #3e3e3e;
	bottom: 0;
}

#searchresults-footer-count {
	top: 60px;
	text-align: center;
	color: white;
	position: relative;
	letter-spacing: .3em;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
}

.portfolioLink {
	color: #d33f3f;
}




.itemSearchElement {
	height: 100px;
	width: 100%;
	/*background: #f2f2f2;*/
	border-bottom: 1px solid #e7e7e7;
	border-bottom: 1px solid #f4f5f7;
	display: flex;
	background: #f7f7f7;
	background: #f8feff;
	background: #f0f3f4;
	background: #f2f3f4;
	background: #f1f3f4;
	background: #f4f5f7;
	background: white;

	position: relative;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

/*.itemSearchElement:nth-child(odd) {
	background: #f7f7f7;
}*/

/*

.itemSearchElement:last-child {
	box-shadow: 0px 40px 40px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 6px rgba(0,0,0,0.2);
}

*/

.itemSearchElementIconBlock {
	width: 100px;
	height: 100px;
	float: left;
	text-align: center;
}

.itemPrevImg {
    padding: 20px;
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 500px;
}

.itemDataBlock {
	width: 100%;
	padding: 20px 10px;
	position: relative;
}

itemDataBlock::after {
	content: url('images/addCart.svg');
	right: -90px;
	/*background-size: 8px;*/
	opacity: 0;
	position: absolute;
	top: 15px;
	float: right;
	transition: all 0.2s ease-in-out;
}

itemDataBlock::before {
	content: url('images/heart.svg');
	right: -90px;
	opacity: 0;
	position: absolute;
	top: 42px;
	float: right;
	transition: all 0.3s ease-in-out;
}



.search-item-cart {
	background-image: url('images/addCart.svg');
	width: 20px;
	height: 20px;
	right: -90px;
	opacity: 0;
	position: absolute;
	top: 15px;
	float: right;
	transition: all 0.2s ease-in-out;

	
}

.search-item-heart {
	background-image: url('images/heart.svg');
	width: 20px;
	height: 20px;
	right: -90px;
	opacity: 0;
	position: absolute;
	top: 42px;
	float: right;
	transition: all 0.3s ease-in-out;
}


.search-item-button {
	z-index: 20;
	background-size: contain;
	right: 10px;
	opacity: .15;
}



.itemSearchElement:hover {
	background: #f4f5f7;
	/*box-shadow: inset 5px 0px 0px #d33f3f, 0px 3px 10px rgba(0,0,0,0.05);*/
	box-shadow: inset 5px 0px 0px #d33f3f;
	z-index: 3;
}

.itemSearchElement:hover .search-item-button {
	/*transform: translateX(-100px);*/
	opacity: 1;
}


/*
.itemSearchElement:hover .search-item-heart:hover {
	background-image: url('images/heartFillRed.svg');
	transition: all .1s ease-in-out;
}
*/

.search-heart-clicked {
	background-image: url('images/heartFillRed.svg');
	/*transform: translateX(-100px);*/
	opacity: 1;
}

.search-cart-clicked {
	background-image: url('images/cart.svg');
	/*transform: translateX(-100px);*/
	opacity: 1;
}






.itemSearchElement:hover .itemDataBlock::after {
	transform: translateX(-100px);
	opacity: 1;
}

.itemSearchElement:hover .itemDataBlock::before {
	transform: translateX(-100px);
	opacity: 1;
}





.itemName {
	margin: 0;
}

.itemCategory {
	letter-spacing: .1em;
	text-transform: uppercase;
	font-size: 12px;
	color: #a2a2a2;
	color: #a5b1b7;
	right: 15px;
	position: absolute;
	bottom: 10px;
	font-weight: 400;
}

.itemSearchElement:hover .itemCategory {
	color: #d33f3f;
	/*transform: translateX(-35px);*/
}

.categoryLink {
	cursor: pointer;
}

.categoryLink:hover {
	color: #f45757;
}


#searchItemBlock,.searchBoxTop {
  width: 360px;
}



#itemPage {

}

#itemBlock {
	height: calc(100vh - 170px);
	max-height: 550px;
	/*max-height: none;*/
	border-bottom: 1px solid #f2f2f2;
	width: 100%;
	right: 0;
	top: 0;
	background: white;
}



#subItemBlock {
	/*height: 700px;*/
	background: #f7f7f7;
	background: #f1f3f4;
	background: #f4f5f7;
}

#subItemBlock {
	padding: 60px;
}

#subItemBlock h1 {
	font-weight: 600;
	font-size: 26px;
}

#subItemBlock .bodyP {
	margin-top: 20px;
	line-height: 1.7;
	font-size: 16px;
}

.bodyText {
	width: 60%;
	max-width: 500px;
	display: inline-block;
	padding-right: 30px;
	/*float: right;*/
}

.bodyTable {
	width: 40%;
	max-width: 460px;
	float: right;
	display: inline-block;
	padding: 7px 0px 10px 20px;
	/*background: rgba(255,255,255,0.5);*/
	border-radius: 3px;
}

.specs-header {
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;

}

.bodyTable table {
	border-collapse: collapse;
	width: 100%;
    text-align: left;
    padding: 0px 15px;
    font-size: 14px;
}

.bodyTable td {
	text-align: right;
}

.bodyTable tr {
	border-bottom: 1px solid #e2e2e2;
}

.bodyTable tr:last-child {
	border-bottom: none;
}

.bodyTable th, td {
	padding: 10px 0px;
}



#sub-item-footer {
	color: #3b3b3b;
	height: 250px;
	background: linear-gradient(180deg, #f7f7f7, #e4e4e4);
	background: linear-gradient(180deg, #f1f3f4, #e0e4e6);
	background: linear-gradient(180deg, #f4f5f7, #e0e4e6);

}

#sub-item-footer-line {
	text-align: center;
	position: relative;
	top: 160px;
}





.searchlist-item-manu {
	font-weight: 400;
	color: black;
	margin-top: 3px;
}

.searchlist-item-price {
	font-weight: 400;
	color: #b2b2b2;
	color: #a5b1b7;
	margin-top: 3px;
}

.searchlist-item-price span {
	color: black;
}







#current-item-img {
	height: 100%;
	max-height: 550px;
	/*max-height: none;*/
	width: 50%;
	padding: 60px 40px;
	display: inline-flex;
	background: white;
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	animation: pageHeadIn .5s ease-in-out;
}

#current-item-img {
    height: 100%;
    max-height: 550px;
    width: 50%;
    padding: 60px 40px;
    /* margin-bottom: 20px; */
    display: inline-flex;
    background: #fff;
    background-size: 50%;
    background-position: 50%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    animation: pageHeadIn .5s ease-in-out;
    position: relative;
    justify-content: center;
}



#current-item-img img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

#current-item-shots {
	/*border: 1px solid blue;*/
	height: 30px;
	width: 40%;
	bottom: 50px;
	margin: 0 auto;
	position: absolute;
	display: flex;
	justify-content: space-between;
	justify-content: center;
	justify-content: space-evenly;
	color: white;
}

.item-shot {
	height: 30px;
	width: 30px;
	/*background: #f4f5f7;*/
	/*border-radius: 500px;*/
	display: inline-flex;
	background-size: contain;
	background-color: white;
	border: 2px solid #f4f5f7;
	border: 1px solid #e7e7e7;
	background-repeat: no-repeat;
	background-position: center;
	/*border: 1px solid #a5b1b7;*/
	/*border: 1px solid black;*/
}

.item-shot:hover {
	transform: scale(1.5);
	border: 2px solid #e2e2e2;
	border: 1px solid #e7e7e7;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

/*

#current-item-img.pageHeadIn, #current-item-pane.pageHeadIn {
	animation: pageHeadIn .5s ease-in-out;
	opacity: 1;
}

#current-item-img.pageHeadOut, #current-item-pane.pageHeadOut {
	animation: pageHeadOut .5s ease-in-out;
	opacity: 0;
}

*/

/*#current-item-img:hover {
	background-image: url('images/blackHeadphonesTurn.jpg') !important;
	transition: all 0s linear-gradient;
}*/






#current-item-pane {
	width: 50%;
	float: right;
	height: 100%;
	padding: 20px 5% 40px 10px;
	background: white;
	animation: pageHeadIn .5s ease-in-out;
	/*display: inline-flex;*/
}

#pane1, #pane2, #pane3 {
	padding: 20px 0px 20px 0px;
	animation: pageHeadIn .5s ease-in-out;
	
}

#pane1, #pane2 {
	border-bottom: 1px solid #f2f2f2;

}

#current-item-category, #current-item-headline {
	display: flex;
	width: 100%;
}

#current-item-category {
	letter-spacing: .1em;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
}

#current-item-headline {
	margin-top: 10px;
	font-size: 36px;
	font-weight: 600;
}

#current-item-manufacturer {
	font-weight: 400;
	margin-top: 12px;
	font-size: 16px;
}


#current-item-manufacturer span {
	font-weight: 500;
	/*text-transform: uppercase;
	letter-spacing: .1em;*/
}

#current-item-price {
	font-weight: 400;
	margin-top: 18px;
	font-size: 28px;
}

#current-item-shipping {
	font-weight: 400;
	margin-top: 4px;
	color: #a2a2a2;
	color: #a5b1b7;
	font-size: 12px;
}

#apply-coupon-prompt {
	float: right;
	
	bottom: 5px;
	right: 10px;
	font-size: 13px;
	font-weight: 500;
	position: relative;
	color: #33ACE0;
}


#customOpsHead {
	font-weight: 500;
	font-size: 15px;
}

#color-ops-row {
	left: 0;
	margin: 20px 0px 0px 0px;
	height: 20px;
	max-height: 20px;
	display: table;
	color: white;
}

#color-ops-row {
	left: 0;
	margin: 20px 0px 0px 0px;
	height: 20px;
	max-height: 20px;
	display: table;
	color: white;
}

.op-sec-title {
	/*float: left;*/
	margin-right: 10px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 500;
	font-size: 12px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	padding-right: 5px;
	color: black;
}

.swatch {
	height: 20px;
	width: 20px;
	border-radius: 500px;
	margin-left: 5px;
	display: inline-block;
	border: 2px solid #f2f2f2;
	cursor: pointer;
}

.swatch:hover {
	transform: scale(2);
	border: 1px solid #e2e2e2;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
	/*margin-right: 15px;
	margin-left: 15px;*/
}



.add-cart-button {
	padding: 8px 5px;
	background: black;
	min-width: 160px;
	max-width: 190px;
	max-height: 35px; 
	height: 35px;
	text-align: center;
	display: table;
	display: block;
	/*vertical-align: middle;*/
	text-decoration: none;
	margin: 0px;
	align-contents: middle;
	display: inline-flex;
	border-radius: 200px;

	cursor: pointer;
}

.add-cart-button:hover {
	/*box-shadow: 0px 4px 8px rgba(0,0,0,0.2);*/
	background: #d33f3f;
	background: #4a4a4a;
}

.add-cart-button h4 {
	color: white;
	
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .1em;
	display: table-cell;
	vertical-align: middle;
	padding-top: 2px;
}

.add-cart-button h4::before {
	content: url('images/cartWhite.svg');
	content: url('images/addCartWhite.svg');
	height: 18px;
	width: 18px;
	margin-right: 15px;
	margin-left: 10px;
	display: table-cell;
	vertical-align: middle;
	float: left;
	top: -4px;
	position: relative;
}

.add-cart-clicked h4::before {
	content: url('images/cartWhite.svg');
}


.fav-button {
	padding: 8px 5px;
	background: #e4e4e4;
	background: #a5b1b7;
	min-width: 160px;
	max-width: 230px;
	width: 210px;
	max-height: 35px; 
	height: 35px;
	/*text-align: center;*/
	display: table;
	display: block;
	/*vertical-align: middle;*/
	text-decoration: none;
	margin: 0px 0px 10px 10px;
	align-contents: middle;
	display: inline-flex;
	border-radius: 200px;

	background: #f4f5f7;
	cursor: pointer;
}

.fav-button:hover {
	/*box-shadow: 0px 4px 8px rgba(0,0,0,0.2);*/
	/*background: #32E1CE;*/
	background: #f2f2f2;
	background: #a5b1b7;
	background: #c2cfd6;
	background: #d33f3f;
}

.fav-button h4 {
	color: black;
	color: white;
	
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .1em;
	display: table-cell;
	vertical-align: middle;
	padding-top: 2px;

	color: black;
}

.fav-button h4::before {
	content: url('images/heartWhite.svg');
	height: 20px;
	width: 20px;
	margin-right: 10px;
	margin-left: 15px;
	display: table-cell;
	vertical-align: middle;
	float: left;
	top: -3px;
	position: relative;

	content: url('images/heartFillRed.svg');
	content: url('images/heartOutlineBlack.svg');
}

.fav-button-clicked h4::before {
	content: url('images/heartFillRed.svg');
}

.fav-button:hover h4::before {
	content: url('images/heartFillWhite.svg');
	
}	

.fav-button:hover h4 {
	color: white;
}	



	#deburger {
		display: flex;
		height: 35px;
		height: 35px;
		align-self: center;
		display: none;
		cursor: pointer;
	}


	#mobile-search-close {
		display: none;
		position: fixed;
		height: 150px;
		bottom: 0px;
		width: 100%;
		background: rgba(0,0,0,0.8);

	}

	#mobile-search-close-text {
		
	}























@media all and (max-width: 1230px) {

	.add-cart-button {
		max-width: 100%;
		width: 100%;
		margin: 0px 0px 12px 0px;
	}

	.fav-button {
		max-width: 100%;
		width: 100%;
		margin: 0px;
	}

	#itemBlock {
		height: calc(100vh - 50px);
	}

}


@media all and (max-width: 960px) {

	

	#current-item-shots {
		bottom: -40px;
		min-width: 180px;
	}

	#current-item-img {
		margin-bottom: 30px;
	}


	.navLink {
		display: none;
	}
	
	#deburger {
		display: flex;
	}

	#itemBlock {
	height: fit-content;
	}

	.bodyText {
	width: 100%;
	padding: 0px;
	}

	#subItemBlock {
	padding: 60px 30px 60px 30px;
	}

	#current-item-img {
    height: 300px;
    max-height: 100vh;
    width: 100%;
    padding: 30px 30px 0px 30px;
	}

	#current-item-pane {
    width: 100%;
    float: none;
    height: auto;
    padding: 10px 50px 40px 50px;
    padding: 10px 40px 40px 40px;
	}

	#sub-item-footer {
	padding: 10px 40px 40px 40px;
	}

	#searchItemBlock, .searchBoxTop {
    width: 320px;
    }

    .itemSearchElement {
    	height: 110px;
    }

    .searchBoxTop label {
    font-size: 9px;
    margin-right: 3px;
	}

    #itemPage {
	width: calc(100vw - 320px);
	}

	.itemDataBlock {
    padding: 20px 30px 20px 10px;
	}

	#nav-search {
		right: 68px;
	}

	#nav-cart {
    max-width: 68px;
    min-width: 68px;
    width: 25%;
    padding: 10px 10px;
    order: 3;
	}

	#nav-cart h4 {
		display: none;
	}

	#nav-cart-count {
		margin-right: 0;
	}

	#itemBlock {
		max-height: none;
	}

	#current-item-img {
	margin-top: 10px;
	background-size: contain;
	}

	.add-cart-button {
		max-width: 50%;
		width: 48%;
	}

	.fav-button {
		max-width: 50%;
		width: 48%;
		margin: 10px 0px 10px 10px;
	}


	.bodyTable {
    width: 100%;
    max-width: none;
    float: none;
    margin: 30px auto;
    display: inline-block;
    padding: 7px 0px 10px 0px;
    border-radius: 3px;
	}

	.bodyText {
    max-width: none;
	}


}





@media all and (max-width: 740px) {


	.bodyTable {
	width: 40%;
	max-width: 460px;
	float: right;
	margin: 0 auto;
	display: inline-block;
	padding: 7px 0px 10px 0px;
	border-radius: 3px;
	}

	.bodyText {
		width: 60%;
		padding-right: 30px;
		max-width: 500px;
	}


	#nav-search {
    min-width: 55px;
    width: 55px;
	}

	#nav-search-icon img {
    margin-right: 0px;
	}

	#nav-search h4 {
		display: none;
	}

	.searchBoxTop { 
		display: none;
	}

	#itemPage {
		width: 100%;
		height: auto;
		-webkit-overflow-scrolling: touch;
	}

	.add-cart-button {
		max-width: 50%;
		width: 48%;
	}

	.fav-button {
		max-width: 50%;
		width: 48%;
		margin: 10px 0px 10px 10px;
	}

	.recItem {
		width: 270px;
	}

	#current-item-img {
		margin-top: 30px;
	}

	#current-item-pane {
		padding: 10px 30px 40px 30px;
	}

	#nav-title h4 {
	font-size: 14px;
	}

	#big-search {
	border-radius: 0px;
	}

	#big-search input {
    font-size: 24px;
    border-radius: 0px;
	}

	#mainBody {
		height: auto;
	}

	.bodyTable {
    width: 40%;
    max-width: 460px;
    float: right; 
    margin: 30px auto;
    display: inline-block;
    padding: 7px 0px 10px 0px;
    border-radius: 3px;
	}

	#searchItemBlock {
		top: 72px;
		width: 100%;
		height: auto;
		position: fixed !important;
		height: 100vh;
		height: calc(100vh - 130px);
		z-index: 980;
		display: none;
		-webkit-overflow-scrolling: touch;
	}

	#searchItemBlock.search-block-is-down {
		animation: bigSearchIn .5s ease-in-out;
		display: block;
	}

	#searchItemBlock.search-block-out {
		animation: moveOutUp .5s ease-in-out;
	}

	#searchItemList {
		top: 0;
		-webkit-overflow-scrolling: touch;
		box-shadow: 0px 20px 40px rgba(0,0,0,0.2);
		height: 100vh;
		height: calc(100vh - 88px);
		height: auto;
		padding-bottom: 10px;
		overflow-y: scroll;
	}

	#searchItemListFooter {
		display: none;
	}

	#mobile-search-close {
		display: none;
		position: fixed;
		height: 58px;
		bottom: 0px;
		width: 100%;
		background: rgba(0,0,0,0.8);
		background: linear-gradient(0deg, black, rgba(0,0,0,0.8));
		z-index: 991;
		cursor: pointer;
		/*animation: bigSearchIn .75s ease-in-out;*/
	}

	@keyframes moveInDown {
		0% { transform: translateY(-100%); opacity: 0; }
    	100% { transform: translateY(0px); opacity: 1; }
	}

	@keyframes moveInUp {
		0% { transform: translateY(100%); opacity: 0; }
    	100% { transform: translateY(0px); opacity: 1; }
	}


	@keyframes moveOutDown {
		0% { transform: translateY(0px); opacity: 1; }
		100% { transform: translateY(100%); opacity: 0; }
	}

	@keyframes moveOutUp {
    	0% { transform: translateY(0px); opacity: 1; }
    	100% { transform: translateY(-100%); opacity: 0; }
	}


	#mobile-search-close.mobile-search-close-is-up {
		display: inline-flex;
		animation: moveInUp .3s ease-in-out;
	}

	#mobile-search-close.mobile-search-close-out {
		animation: moveOutDown .3s ease-in-out;
	}

	#mobile-search-close-text {
		display: flex;
	    align-self: center;
	    text-align: center;
	    letter-spacing: .2em;
	    text-transform: uppercase;
	    font-size: 14px;
	    font-weight: 600;
	    text-align: center;
	    color: white;
	    margin: 0 auto;
	}

	#mainBody.fixed {
		position: fixed !important;
	}







}

@media all and (max-width: 620px) {

	.bodyText {
	width: 100%;
	margin-bottom: 30px;
	padding-right: 0px;
	max-width: none;
	}

	.bodyTable {
	width: 100%;
	max-width: none;
	float: none;
	display: inline-block;
	padding: 7px 0px 10px 0px;
	border-radius: 3px;
	}



}


@media all and (max-width: 500px) {



	.add-cart-button {
		max-width: 100%;
		width: 100%;
	}

	.fav-button {
		max-width: 100%;
		width: 100%;
		margin: 0px 0px 10px 0px;
	}

	#big-search input {
    font-size: 20px;
	}

	#nav-links {
    height: 47px;
    min-width: none; 
    max-width: 390px;
    padding-left: 15px;
	}

	#nav-title h4 {
	font-size: 13px;
	}

	.hu-help {
		display: none !important;
	}

	#header-upper-right a {
		padding: 0px 10px;
	}

	#header-upper {
    padding: 0px 0px;
	}

	#current-item-img {
    height: 250px;
	}
	
}


@media all and (min-width: 1300px) {

	#current-item-img {
    height: 100%;
    max-height: 500px;
    width: 50%;
    padding: 60px 40px;
    background: white;
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
	}

	#itemBlock {
    height: calc(100vh - 120px);
    max-height: 500px;
	}

}




